.App {
  height: 100%;
  position:relative ;
  width: 100%;
  top: 0;
  left: 0;
  font-family: 'Righteous', cursive;
  font-size: 10px;

}

.page1{
  height:100vh;
}


#test {
padding-top: 50vh;

text-align: center;
margin-top: ;
}
