.App {
  height: 100%;
  position:relative ;
  width: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(#D3CCE3,#E9E4F0);
}

.page1{
  height:100vh;
  background-image: linear-gradient(to right top, #052837, #065660, #32877c, #77b98b, #cee797);
}


#test {
padding-top: 50vh;

text-align: center;
margin-top: ;
}
