.App {
  height: 100%;
  position:relative ;
  width: 100%;
  top: 0;
  left: 0;
  font-family: 'Righteous', cursive;
  font-size: 10px;

}

.page1{
  height:100vh;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;

  z-index: 1;
  background: linear-gradient(rgba(3, 30, 0, 0.5), rgba(0, 0, 0, 1)), url('./pics/computer-computer-keyboard-contemporary-display-257881.jpg');
  opacity:   ;

}


#test {
padding-top: 50vh;

text-align: center;
margin-top: ;
}
