

.overlay {
    height: 0;
    width: 100%;
    position:Absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    opacity:0.98;
    transition: 1s;
    background: black; /* fallback for old browsers */
    background-size:contain;
    background-position:top;
    background: cover;
    overflow-y:hidden !important;

}
.center {
  text-align: center;
}
h1 {
  font-size: 5%;
}
p {
  font-size: 5vh !important;
  color: white !important;
}
.proj {
  position: !important;
  font-size: 2vw!important;
}
.projects {
  border: solid;
  border-color: white;
  opacity:0.5;
  width:30vw;
}
.projects:hover{
  border-color: grey;
  opacity:1;
  transition: 1s;
}
.overlay-content {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em !important;
  text-align: center;
  margin-top: ;
  color: white !important;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: rgb(169,169,169) ;
    display: block;
    transition: 0.3s;
}
.hamburger {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: -webkit-sticky; /* Safari */
    position: sticky !important;
    top: 0;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor:"pointer" !important
  }
  .burger-overlay {
  cursor:"pointer";

  }
  #navi {
      position:fixed !important;
      width:100%;
      color: red;
  }



@media screen and (min-height: 850px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.overlay h2, .overlay p {
  color:black;
}

.overlay-contet {
  font-size: 10px;
}
.short {
  margin-top: 2%;
  text-align: center;
  font-family: 'Gugi', cursive;
  color:black;
}
.main {
  font-family: 'Gugi', cursive;
  font-size: 25px;
  color: white;
  text-align: center;
}
.burger-overlay {
cursor:"pointer"
}


@media only screen and (max-width: 1026px){

}
